html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
#bgvid{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
#head{
    background: #444444;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 250px;;
    z-index: 1;
}
h1{
    color: #FFFFFF;
    margin: auto;
    font-size: 70px;
    font-family: 'Yeon Sung', cursive;
}
span{
    color: #2699FB;
}
h2{
    color: #FFFFFF;
    margin: auto;
    font-size: 40px;
    font-family: 'ZCOOL KuaiLe', cursive;
}
body{
    background-color: #000000;
}
nav{
    width: 100%;
    background-color: #707070;
    overflow: auto;
    text-decoration: none;
    position: sticky;
    top: 0;
    z-index: 1;
}
nav li{
    float: left;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 17px;
    overflow: hidden;
}
nav a:hover{
    color: #2699FB;
}
nav a{
    text-decoration: none;
    color: #FFFFFF;
}
img{
    width: 450px;
}
@media screen and (min-width: 800px){
    .content{
        grid-template-columns: auto;
        grid-gap: 10px;
        padding: 10px;
        display: grid;
    }
}
header{
    background-color: #FFFFFF;
    opacity: 0.8;
    grid-column: 1/2;
}
.paragraph{
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    line-height: 1.5;
    grid-column: 1/3;
    background-color: #FFFFFF;
    opacity: 0.8;
}
.pic1{
    grid-column: 3/4;
}
.pic2{
    grid-column: 4/5;
}
section > article, header, footer{
    text-align: left;
}
table{
    background-color: #FFFFFF;
    margin: auto;
    border: 1px solid #707070;
    border-collapse: collapse;
}
td,th{
    line-height: 1.5;
    border: 1px solid #444444;
    text-align: center;
    padding: 5px;
}
#table{
    grid-column: 1/5;
}
#tablehead{
    border: 1px solid #000000;
    background-color: #000000;
    color: #FFFFFF;
}
#contactform{
    background-color: #FFFFFF;
    grid-column: 2/5;
    width: 150%;
    max-width: 600px;
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
}
.txtbx{
    border: 1px solid #AAAAAA;
    margin: 8px 0;
    padding: 12px 18px;
}
.txtbx label{
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}
.txtbx input, .txtbx textarea{
    width: 100%;
    border: none;
    background: #f5f5f5;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}
.aside{
    line-height: 1.5;
    grid-column: 1/5;
    background-color: #FFFFFF;
}
footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    grid-column: 1/5;
    background-color: #AAAAAA;
    opacity: 0.4;
    left: 50;
    bottom: 0;
    width: 100%;
    text-align: left;
}
#cookie{
    background-color: #2699FB;
    height: 38px;
    position: fixed;
    z-index: 3;
    bottom: 0;
    width: 100%;
    size: 5pt;
    border: 1px solid #466e40;
    display: grid;

}
#coo{
    padding: 10px 10px 10px 10px;

}